# copiar este archivo a .env y llengar los valores

# API
NUXT_PUBLIC_API_BASE_URL=http://127.0.0.1:3001

# MQTT
NUXT_PUBLIC_MQTT_URL=ws://localhost:8083/mqtt
NUXT_PUBLIC_MQTT_USERNAME=
NUXT_PUBLIC_MQTT_PASSWORD=
